:root {
  --light-col-main: #fbf7f2;
  --dark-col-main: #272727;
  /*--pg1-bg-color: var(--light-col-main);*/
  --pg1-bg-color: var(--dark-col-main);
  --pg1-font-color: var(--light-col-main);
  /*--pg1-font-color: var(--dark-col-main);*/
}

.App-header{
  background-color: var(--pg1-bg-color);
  /*border-bottom: var(--pg1-font-color);*/
  opacity: 0.9;
  min-height: 10vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  color: var(--pg1-font-color);
  /*color: black;*/
}

.App {
  text-align: center;
  margin: 0;
  height: 90%;
  overflow: hidden;
}

@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

@keyframes blink {
  from { border-color: transparent }
  to { border-color: var(--pg1-font-color); }
}

.App-typing {
  overflow: hidden;
  border-right: .1em solid;
  white-space: nowrap;
  font-size: 1.2rem;
  height: 50%;
  width: 50%;
  animation:
          typing 4s steps(50, end) forwards,
          blink .8s infinite;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-body{
  /*background-color: #fbf7f2;*/
  background-color: var(--pg1-bg-color);
  opacity: 0.9;
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: var(--pg1-font-color);
  /*color: #262626;*/
}

.App-icons{
  opacity: 0.9;
  font-size: 20px;
  color: var(--pg1-font-color);
}

/*.App-link {*/
/*  color: #61dafb;*/
/*}*/
